* {
  padding: 0 auto;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

:root {
  --color-primary: #212121;
  --color-logo-accent: #000000;
  --color-background: #2f303a;
  --color-text: #757575;
  --color-secondary: #ffffff;
  --color-fields: #f5f4fa;
  --color-primary-accent: #2196f3;
  --color-border: #eeeeee;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0px;
}

address {
  font-style: normal;
}

.address-sizing {
  width: 246px;
  margin-top: 20px;
}

.background-titular {
  background: var(--color-background);
}

.background-titular-sizing {
  padding: 100px 226px 140px 226px;
}

.background-team {
  background: var(--color-fields);
}

.background-header {
  padding: 32px 0px;
  border: 1px solid #ececec;
}

.background-footer {
  background: var(--color-background);
  padding: 60px 0px;
}

.button-menu {
  background: var(--color-fields);
  font-weight: 500;
  font-size: 16px;
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
}

.button-menu:hover {
  background: var(--color-primary-accent);
  color: var(--color-secondary);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-menu:focus {
  background: var(--color-primary-accent);
  color: var(--color-secondary);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-order {
  background: var(--color-primary-accent);
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin-top: 30px;
}

.card-padding {
  padding: 30px 0px;
}

.card-team-member {
  background: var(--color-secondary);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.grid-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.grid-navigation-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 371px;
}

.grid-header-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-header-navigation {
  letter-spacing: 0.02em;
  display: flex;
  flex-basis: 254px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 46px;
}

.grid-main-titular {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.grid-main-scope {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 1170px;
}

.grid-main-team {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.grid-primary {
  padding: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

.grid-footer {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.grid-button-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  width: 572px;
  flex-basis: calc((100% - 16px) / 5);
}

.heading-companies {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.heading-primary {
  width: 270px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.heading-scope-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.link-header-contact-email {
  letter-spacing: 0.02em;
  color: var(--color-text);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.link-header-contact-phone {
  letter-spacing: 0.02em;
  color: var(--color-text);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  margin-left: 50px;
}

.link-footer-contact-email {
  letter-spacing: 0.02em;
  color: var(--color-text);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.link-footer-contact-phone {
  letter-spacing: 0.02em;
  color: var(--color-text);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.link-highlight:hover {
  color: var(--color-primary-accent);
}

.link-higlight:focus {
  color: var(--color-primary-accent);
}

.link-navigation {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.link-navigation:hover {
  color: var(--color-primary-accent);
}

.link-navigation:focus {
  color: var(--color-primary-accent);
}

.link-location {
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
}

.logo-highlight-primary {
  color: var(--color-logo-accent);
}

.logo-highlight-secondary {
  color: var(--color-secondary);
}

.logo-webstudio {
  color: var(--color-primary-accent);
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  width: 145px;
  height: 31px;
  letter-spacing: 0.03em;
}

.list-style-none {
  list-style-type: none;
}

.text-primary {
  font-size: 14px;
  line-height: 1.7;
  color: var(--color-text);
  width: 270px;
  margin-top: 10px;
  letter-spacing: 0.03em;
}

.text-secondary {
  font-size: 16px;
  line-height: 1.9;
  color: var(--color-text);
  letter-spacing: 0.03em;
}

.text-job-position {
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-text);
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 10px;
}

.title-website {
  color: var(--color-secondary);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  max-width: 696px;
  letter-spacing: 0.06em;
  text-align: center;
}

.title-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  width: 130px;
}
