body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

:root {
  --color-primary: #212121;
  --color-logo-accent: #000000;
  --color-background: #2f303a;
  --color-text: #757575;
  --color-secondary: #ffffff;
  --color-fields: #f5f4fa;
  --color-primary-accent: #2196f3;
  --color-border: #eeeeee;
}

address {
  font-style: normal;
}

.background-titular {
  background: var(--color-background);
}

.background-team {
  background: var(--color-fields);
}

.background-footer {
  background: var(--color-background);
}

.button-menu {
  background: var(--color-fields);
  font-weight: 500;
  font-size: 16px;
}

.button-menu:hover {
  background: var(--color-primary-accent);
  color: var(--color-secondary);
}

.button-menu:focus {
  background: var(--color-primary-accent);
  color: var(--color-secondary);
}

.button-order {
  background: var(--color-primary-accent);
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
}

.heading-companies {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.heading-primary {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
}

.heading-scope-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}

.link-contact {
  color: var(--color-text);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.link-contact:hover {
  color: var(--color-primary-accent);
}

.link-contact:focus {
  color: var(--color-primary-accent);
}

.link-navigation {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.link-navigation:hover {
  color: var(--color-primary-accent);
}

.link-navigation:focus {
  color: var(--color-primary-accent);
}

.link-location {
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
}

.logo-highlight-primary {
  color: var(--color-logo-accent);
}

.logo-highlight-secondary {
  color: var(--color-secondary);
}

.logo-webstudio {
  color: var(--color-primary-accent);
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.text-primary {
  font-size: 14px;
  line-height: 1.7;
  color: var(--color-text);
}

.text-secondary {
  font-size: 16px;
  line-height: 1.9;
  color: var(--color-text);
}

.title-website {
  color: var(--color-secondary);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
}

.title-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
