body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
}

:root {
  --color-first: #212121;
  --color-second: #000000;
  --color-third: #2f303a;
  --color-fourth: #757575;
  --color-fifth: #ffffff;
  --color-sixth: #f5f4fa;
  --color-seventh: #2196f3;
}

address {
  font-style: normal;
}

.background-first {
  background: var(--color-third);
}

.background-second {
  background: var(--color-sixth);
}

.background-third {
  background: var(--color-third);
}

.webstudio-highlight-first {
  color: var(--color-second);
}

.webstudio-highlight-second {
  color: var(--color-fifth);
}

.link-navigation {
  color: var(--color-first);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.link-navigation:hover {
  color: var(--color-seventh);
}

.link-navigation:focus {
  color: var(--color-seventh);
}

.link-contact {
  color: var(--color-fourth);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.link-contact:hover {
  color: var(--color-seventh);
}

.link-contact:focus {
  color: var(--color-seventh);
}

.title-first {
  color: var(--color-fifth);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
}

.title-second {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}

.title-third {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
}

.text-first {
  font-size: 14px;
  line-height: 1.7;
  color: var(--color-fourth);
}

.title-fourth {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.link-map {
  color: var(--color-fifth);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
}

.button-order {
  background: var(--color-seventh);
  color: var(--color-fifth);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
}

.button-menu {
  background: var(--buttons-color);
  font-size: 16px;
}

.button-menu:hover {
  background: var(--secondary-color);
  color: var(--tertiary-color);
}

.button-menu:focus {
  background: var(--secondary-color);
  color: var(--tertiary-color);
}

.webstudio-logo {
  color: var(--color-seventh);
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
